

<%- include ('../pages/header') -%> 

<div class="ui comments">
  <h3 class="ui dividing header">Commentaire</h3>
    <div class="comment">
      <a class="avatar" href="/message/<%= message.id %>">
        <img src="https://randomuser.me/api/portraits/lego/6.jpg" alt="">
      </a>
      <div class="content">
        <div class="metadata">
          <div class="date">
            <!-- fromNow() est une fonction de moment (voir moment npm) -->
            <%= message.created_at.fromNow() %>
          </div>
        </div>
        <div class="test"><%= message.content %></div>
      </div>
    </div>
</div>

<%- include ('../pages/footer') -%> 

